{% extends "admin/base.html" %}
{% load i18n %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <p>{% blocktrans with count=queryset.count %}You are about to change the role for {{ count }} user(s).{% endblocktrans %}</p>
    
    <fieldset class="module aligned">
        <div class="form-row">
            {{ form.role.label_tag }} {{ form.role }}
        </div>
    </fieldset>

    {% for obj in queryset %}
    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}">
    {% endfor %}
    
    <input type="hidden" name="action" value="{{ action }}">
    <div class="submit-row">
        <input type="submit" name="apply" value="Change Role">
    </div>
</form>
{% endblock %}
