# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose*.yml

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.venv/
venv*/
env*/

# Python Packaging
build/
dist/
*.egg-info/
.eggs/
wheels/
share/python-wheels/
*.manifest
*.spec
MANIFEST

# Test / Coverage
.tox/
.nox/
.coverage*
.pytest_cache/
.hypothesis/
.cover/
htmlcov/

# Django
local_settings.py
db.sqlite3*
media/
staticfiles/

# Env & Secrets
*.env
!.env.example
secrets/

# Logs
*.log
logs/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Docs
docs/_build/
site/

# Typing
.mypy_cache/
.pyre/
.pytype/

# Jupyter
.ipynb_checkpoints
profile_default/
ipython_config.py

# Project Specific
vmlc/tests/
models_erd.*
dev_data/
# Node
node_modules/

# Temp
*.tmp
*.temp