# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Virtual Environments
.env
.venv
.vmlc
env/
venv/
ENV/
env.bak/
venv.bak/
.pdm.toml
__pypackages__/

# Django
*.log
*.pot
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
static/
staticfiles/
prod_*/

# Testing / Coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo

# Logs
pip-log.txt
pip-delete-this-directory.txt
logs/
auth.log

# Documentation
docs/_build/
/site

# Jupyter Notebook
.ipynb_checkpoints
profile_default/
ipython_config.py

# Type Checking / Linting
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# IDE / Editors
.idea/
.vscode/
.spyderproject
.spyproject
.ropeproject

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# Cython
cython_debug/

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# PyBuilder
.pybuilder/
target/

# Environment Files
*.env
.env.*
# Project Specific
# vmlc/tests/
dev_data/
# models_erd.dot
# models_erd.png
*.dot
*.png# Secrets and environment files
secrets/
data/
credentials.txt
# Docker volumes
docker-compose.override.local.yml
