<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VMLC API Documentation</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="top-bar">
        <div class="logo-container">
            <img src="verboheit_logo.png" alt="Verboheit Logo" class="logo">
            <!-- <span class="header-title">API Doc</span> -->
        </div>
    </header>
    <main class="main-content">
        <div id="content"></div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="script.js"></script>
</body>
</html>